/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&family=Cairo:wght@400;600;700&display=swap");

/* Tailwind v4 */
@import "tailwindcss";

/* Font Families */
@layer utilities {
    .font-cairo {
        font-family: "Cairo", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            sans-serif;
    }

    .font-poppins {
        font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            sans-serif;
    }
}